table, td{
    border: 1px solid #ddd;
    padding: 10px;
}


th{
	margin: 30px;
    padding: 10px;
}
button{
    margin-bottom: : 30px;
}
#table {
    width: 45%; 
    float: left;
    margin-right: 5%;
    margin-left: 10px;
}

#tableDram{
    width: 35%;
    float: left;
    align-items: :right;
}

#tableUEFA,#tableOTHERS {
    width: 70%; 
    float: left;
    margin-left: 60px;
}


td {
    height: 30px;
    vertical-align: bottom;
}

td img{
    width:50px;
    height:30px;
}
